body{
    overflow-x: hidden;
    /* height: 100%;*/
}
.bandeau{
    z-index: 1;
}
.service{
    /*background: white;*/
    color: black;
    position: relative;
    top: 20px;
    left: 8%;
    font-size: 1.3em;
    font-weight: bold;
}
#form_input{
    position:relative;
    left: 15%;
    top: 120px;
    width: 85%;
    /*color: black;*/
}
#shopcar{
    position: relative;
    left: 90%;
}
#shopcar:hover{
    opacity: 0.6;
}
.on{
    position: absolute;
    /*top: 3px;
    left: 18px;*/
    width: 18px;
    height: 18px;
    font-weight: bold;
    border-radius: 9px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    background-color: red;
    display: none;
}
.Form_distance{
    position: relative;
    top:25px;
    left: 8%;
}
.theatre{
    position: relative;
    left: 22%;
    top: 150px;
}
#ui-datepicker-div{
    background: grey;
}
#tableau{
    /*    position: absolute;
        left: 2%;
        text-align: center;*/
    border:1px solid wheat; 
    font-size: 1.2em;
    text-align: center;
}
.depart>td{
    border:1px solid wheat; 
}
.btn_hide{
    position: fixed;
    left: 126px;
    top: 50%;
}
.btn_hide:hover{
    /*    background-color: rgba(0, 0, 0, 0.15);*/
    opacity: 0.6;
}
.btn_show{
    position: fixed;
    top: 50%;
    left: 0;
    display: none;
}
.btn_show:hover{
    opacity: 0.6;
}
.but_hide_tab:hover{
    /*position: absolute;*/
    background: #077bd2;
    color: white;
}
.but_hide_tab{
    background: whitesmoke;
}
.but_show_tab{
    background: whitesmoke;
    display: none;
}
.but_show_tab:hover{
    background: #077bd2;
    color: white;
}
.btn_part{
    width: 75%;
    text-align: center;   
}
/*page formulaire d'achat des billets'*/
#nom{
    width:200px;   
}
#Corps{
    margin-top:240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 85px;
}
.item_contenu{
    padding-top: 15px;
    width: 100%;
    height: 115px;
    background-color:rgba(0,0,0,0.5);
    -moz-box-shadow: 8px 8px 4px black; /* 老的 Firefox */
    box-shadow: 8px 8px 4px black;
    border-radius: 10px;
}
/*.divinput{

}*/
.dselect{
    padding-right: 40px;
}
.divselect{
    margin-top: 15px;
    padding: 10px;
}
.diviser{
    width: 115%
}
.divtableau{
    margin-top:10px;
    position: relative;
    left: 30px;
}

.tp{
    padding-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:flex-end;
}

.total{
    padding-right: 50px;
}
.ajouter>img{
    top: 3px;
    right: 3px;
    position: relative;
    width: 15px;
}
.Curr_price,.total{
    color: #f40;
    font-weight: 700;
    font-size: 18px;
    font-family: tohoma,arial;
    padding: 0 5px;
}

/*  confirmation notification*/
.jc-bs3-container{
    position: absolute;
    color: black;
    top: 40%;
    left: 27%;
    width: 46%;
}
.jconfirm-title{
    font-weight: bolder;
    color: royalblue;
}
.commande{
    background: royalblue;
}
.ann_label{
    position: relative;
    left: 2px;
    font-weight: bold;
    top: -6px;
}
.annule_tous:hover,.ajouter:hover,.payer:hover{
    background: #077bd2;
    color: white
}
#btn_delete:hover{
    opacity: 0.6;
}
.btn_reserv:hover{
    opacity: 0.6;
}
.vider_liste{
    position: relative;
    left: 84%;
}
.Spectateur{
    position: relative;
    left: 72%;
    font-weight: bolder;
}
footer{
    left: 0;
}