body{
    overflow-x: hidden;
}
.bandeau{
    z-index: 1;
}
.service{
    /*background: white;*/
    color: black;
    position: relative;
    top: 20px;
    left: 8%;
    font-size: 1.3em;
    font-weight: bold;
}
#form_input{
    position:relative;
    left: 15%;
    top: 120px;
    width: 85%;
    /*color: black;*/
}
.Form_distance{
    position: relative;
    top:25px;
    left: 8%;
}
.theatre{
    position: relative;
    left: 22%;
    top: 150px;
}
#ui-datepicker-div{
    background: grey;
}
#tableau{
    /*    position: absolute;
        left: 2%;
        text-align: center;*/
    border:1px solid wheat; 
    font-size: 1.2em;
    text-align: center;
}
.depart>td{
    border:1px solid wheat; 
}
.btn_hide{
    position: fixed;
    left: 126px;
    top: 50%;
}
.btn_hide:hover{
    /*    background-color: rgba(0, 0, 0, 0.15);*/
    opacity: 0.6;
}
.btn_show{
    position: fixed;
    top: 50%;
    left: 0;
    display: none;
}
.btn_show:hover{
    opacity: 0.6;
}
.but_hide_tab:hover{
    /*position: absolute;*/
    background: #077bd2;
    color: white;
}
.but_hide_tab{
    background: whitesmoke;
}
.but_show_tab{
    /*position: absolute;*/
    background: whitesmoke;
    display: none;
}
.but_show_tab:hover{
    background: #077bd2;
    color: white;
}
.btn_part{
    width: 75%;
    text-align: center;   
}
